version: "3"

services:
  mongodb:
    image: mongo
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - backend
    restart: always

volumes:
  mongo-data:
    driver: local

networks:
  backend:
    driver: bridge
