# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bases de datos locales / JSON grandes
bd/
*.json

# Archivos de configuración sensibles
.env

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# Otros
*.tmp
*.swp
*.bak
