# Dependencies
node_modules/
package-lock.json

# Datos y datasets
bd/**/*.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Carpeta de distribución
dist/
build/

# Archivos temporales
temp/
tmp/
